<div class="ui card">

  </div>
  <div class="content">
    <p class="header">
      <%= @artist.first_name %> <%= @artist.last_name %>
    </p>
    
  </div>
  <div class="extra content">
    <%= link_to 'Edit', edit_artist_path(@artist) %> |
    <%= link_to 'Back', artists_path %>
  </div>
</div>